<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <button type="button" id="loginModalBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
    로그인
  </button>
  <button type="button" id="signupBtn" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#signupModal">
    회원가입
  </button>
  <!-- Modal -->
  {% include "components/modal.html" with modal_id="loginModal" modal_title="로그인" modal_body="auth/login.html" ok_button_txt="로그인" without_footer=True %}
  {% include "components/modal.html" with modal_id="signupModal" modal_title="회원가입" modal_body="auth/signup.html" ok_button_txt="회원가입" without_footer=True %}
</body>
<script>
    //document.addEventListener("DOMContentLoaded", function() {
    //    const modalObj = document.getElementById('loginModalBtn');
    //    modalObj.click();
    //});
</script>
</html>
