<!-- Modal -->
<div class="modal" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      {% if not without_header %}
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ modal_id }}Label">{{ modal_title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {% endif %}
      <div class="modal-body">
        {% include modal_body %}
      </div>
      {% if not without_footer %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary">{{ ok_button_txt}}</button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
