<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
<form method="post">
  <div class="form-group">
    <label for="username">사용자명</label>
    <input type="text" class="form-control" id="username" placeholder="사용자명">
  </div>
  <div class="form-group mt-3">
    <label for="username">이메일</label>
    <input type="email" class="form-control" id="username" placeholder="이메일">
  </div>
  <div class="form-group mt-3">
    <label for="password">패스워드</label>
    <input type="password" class="form-control" id="password" placeholder="패스워드">
  </div>
  <div class="form-group mt-3">
    <label for="password">패스워드 확인</label>
    <input type="password" class="form-control" id="confirmPassword" placeholder="패스워드 확인">
  </div>
  <div class="text-center mt-5">
    <button type="submit" class="btn btn-primary">회원가입</button>
  </div>
</form>

</body>
</html>
